@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* ------------------------------- Header --------------------------------- */

nav {
  display: flex;
  background: black;
  color: yellow;
  padding: 15px 25px;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: yellow;
}

.logo span img {
  width: 20px;
  filter: invert();
  align-items: center;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 15px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

ul li a:hover {
  color: yellow;
}

/* ------------------------------- Main --------------------------------- */

body {
  background-color: yellow;
}

.container {
  max-width: 70vw;
  margin: auto;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 20px 0;
}

p {
  word-spacing: 3px;
}

table, tr, th, td{
  border: 3px solid black;
  border-collapse: collapse;
  padding:  5px 12px;
  font-weight: 600;
}

.btn {
  padding: 12px 30px;
  background: black;
  color: yellow;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
}

.btn:hover {
  background: yellow;
  color: black;
  border: 3px solid black;
}

.btn-sm {
  padding: 8px 15px;
  background: black;
  color: yellow;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
}

.btn-sm:hover {
  background: yellow;
  color: black;
  border: 3px solid black;
}

img {
  cursor: pointer;
}

form {
  font-weight: 600;
}

input {
  width: 50vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  background: yellow;
  color: black;
}

input::placeholder {
  color: black;
  opacity: 2; 
}

/* ------------------------------- Footer --------------------------------- */

footer {
  display: flex;
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
